.App {
  max-width: 800px;
  margin: 30px auto;

}

.App footer {
  font-size: 11px;
  margin: 20px 10px;
}

.App h1 {
  color: #c44601;
  margin: 0 10px;

}

body {
  background: #fcf9f6;
  font-family: "Quicksand", sans-serif; 
  margin: 2%;
}

a {
  color: #f57600;
  text-decoration: none;
}

a:hover {
  color:#316ebd;
  font-weight: 600;
}

.map-container {
  margin: 10px;
  height: 400px;
}

.sidebar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}