.App {
  max-width: 800px;
  margin: 30px auto;

}

.App footer {
  font-size: 11px;
  margin: 0 10px;
}

.App h1 {
  color: #c44601;
  margin: 0 10px;

}

body {
  background: #fcf9f6;
  font-family: "Quicksand", sans-serif; 
  margin: 2%;
}

a {
  color: #f57600;
}