.Weather {
    font-family: "Quicksand", sans-serif; 
    margin: 3% 0;
    border-radius: 10px;
    color: rgb(0, 0, 0);
  }

.Weather h3 {
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;  
    line-height: 1;
  }

.Weather li {
    list-style-type: none;
    line-height: 1.5;
  }

.Weather ul {
padding-left: 0;
}

.Weather .small {
    font-size: 20px;
    font-weight: 600;
}

.Weather .units a {
    color: gray;
}

.Weather .units {
    font-weight: 400;

}

.Weather .large {
    font-size: 85px;
    font-weight: 600;
}

.Weather hr {
    opacity: 0.1;
}
.search-input {
    width: 85%;
    color: #c44601;
    border: 1px solid #c445012f;
    font-size: 16px;
    padding: 12px;
    border-radius: 10px;
}

.search-input:focus {
    outline: none;
}

::placeholder {
    color: rgba(128, 128, 128, 0.443);
}

.search-button {
    width: 15%;
    font-size: 16px;
    background-color: #c44601;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 10px;

}

.fa-droplet, .fa-wind, .fa-arrows-down-to-line {
    color: #316ebd;
}

#temp-high {
    font-weight: 700;
}

.tempExtreme {
    line-height: 1.5;

}


#current-temp {
    background: white;
    background-size: cover;
    background-blend-mode: darken;
    border-radius: 10px;
}

.current-forecast-col {
    background: white;
    border-radius: 10px;

}

#current-temp-details {
    background: rgba(255, 255, 255, 0.50);
    border: none;
}

#current-forecast {
    text-align: center;

}

#current-forecast img {
    text-align: center;
    vertical-align: middle;
}

#details-style {
    font-weight: 700;
    color: #c44601;
    line-height: 2;
}

