.Weather {
    font-family: "Quicksand", sans-serif; 
    padding: 16px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
  }

.Weather li {
    list-style-type: none;
    line-height: 1.5;
  }

.Weather ul {
padding-left: 0;
}



.search-input {
    color: #c44601;
    border: 1px solid #c445012f;
    font-size: 16px;
    margin: 1%;
    padding: 12px;
    border-radius: 10px;
}

.search-input:focus {
    outline: none;
}

::placeholder {
    color: rgba(128, 128, 128, 0.443);
}

.search-button {
    font-size: 16px;
    background-color: #c44601;
    color: white;
    margin-left: -40px;
    padding: 12px;
    border: none;
    border-radius: 10px;

}

#current-temp {
    background: white;
    background-image: url(/public/clear.jpg);
    background-size: cover;
    background-blend-mode: darken;
    border-radius: 10px;
    line-height: 1;
}

#current-temp-details {
    background: white;
    border: 1px solid #c445012f;
    border-radius: 10px;

}

#current-forecast {
    background: white;
    border: 1px solid #c445012f;
    border-radius: 10px;
    line-height: 2.5;
}
